html {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000000;
    text-align: center;
    align-items: center;
    width:100vw;
}

hr {
    margin-right: 2rem;
}

@media screen {
    hr {
        margin-inline: 1rem;

    }
}



.navbar {
    /* transparent background. solidifies on scroll */
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 9999;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.navbar img {
    width: 30rem;
    margin: 0;
    padding: 0;
}

#navlinks {
    display: flex;
    align-items: center;
}

#navlinks a {
    margin-right: 2rem;
    /* verticaly center tect */
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Kanit';
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}

#navlinks a:hover {
    background-color: #dddddddd;
    color: black;
    border-radius: 4rem;
}


.solid {
    background-color: #f2f2f2;
    color: #333;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
}

.header {
    background: url(./assets/images/headerbg.png) #1c204abb;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.header h1 {
    font-size: 5rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 1000;
}

.header p {
    font-size: 2rem;
    font-family: 'Assistant';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    padding-bottom: 1rem;
}

.header a {
    font-size: 2rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    color: #fff;
    background-color: #5865F2;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 1rem;
    border-radius: 3rem;
}


.header a:hover {
    background-color: #5865F2bb;
    font-size: 2.3rem;
}   

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #0a1047;
    color: #f2f2f2;
}

.about-content h2 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.about-content img {
    width: 13rem;
    margin: 0;
    padding: 0;
}

#botabout {
    text-align: left;
    margin-left: 1rem;
}

.features-content {
    display: block;
    background-color: aliceblue;
    color: #333;
    margin: 0;
    padding: 1rem;
}

.features-content h1 {
    font-size: 4rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.feature-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: left;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
}

.feature-text {
    text-align: left;
    margin-left: 3rem;
}

.feature-screenshot img {
    width: 20rem;
    border-radius: 1rem;
    padding: 5px;
    border: 3px solid #555;
    /* drop shadow effect */
    box-shadow: 6px 6px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.feature-text img {
    color: #f2f2f2;
    width: 2.5rem;
    align-items: center;
}

.feature-text h1 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.feature-text p {
    font-size: 1.5rem;
    font-family: 'Assistant';
}

.mobilebreak {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobilebreak {
        display: block;
    }
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #0a1047;
    color: #f2f2f2;
}

.cta-content h1 {
    font-size: 4rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}  

.cta-content a {
    font-size: 2rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    color: #fff;
    background-color: #5865F2;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 1rem;
    border-radius: 3rem;
}

.cta-content a:hover {
    background-color: #5865F2bb;
    font-size: 2.3rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #f2f2f2;
    padding-top: 2rem;
}

.footer-about {
    display: block;
    justify-content: center;
    background-color: #000000;
    color: #f2f2f2;
    text-align: left;
    margin: 0;
    margin-right: 5rem;
}

.footer-about h1 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
    line-height: normal;
}

.contact a {
    color: #ffffff;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #f2f2f2;
    text-align: center;
}

.copyright a {
    color: #ffffff;

}

.copyright a:hover {
    text-decoration: none;
}

.sidenav {
    background-color: #3f3f3f;
    color: #f2f2f2;
    /* documentation nav sidebar */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:14%;

}

#docpages {
    padding-left: 1rem;
}

.sidenav-content {
    display: block;
}

.sidenav-content ul {
    list-style-type: none;
}

.sidenav-content li {
    padding-inline: 0%;
    font-size: 1.5rem;
    font-family: 'Kanit';
    text-decoration: none;
    color: #f2f2f2;
    transition: all .3s ease-in-out;
}

.sidenav-content a {
    padding-inline: 0%;
    font-family: 'Kanit';
    text-decoration: none;
    color: #f2f2f2;
    transition: all .3s ease-in-out;
}

.sidenav-content a:hover {
    background-color: #dddddddd;
    color: black;
    border-radius: 0.8rem;
}

.docwrapper {
    margin-left: 14%;
    width: 86%;
    margin-top: 8rem;
    text-align: left;
}

.docnavbar {
    background-color: #0a1047;
    position: fixed;
    top: 0;
    display: flex;
    width: 86%;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}

.docnavbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.docnavbar img {
    width: 30rem;
    margin: 0;
    padding: 0;
}

#docnavlinks {
    display: flex;
    align-items: center;
}

#docnavlinks a {
    margin-right: 2rem;
    /* verticaly center tect */
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Kanit';
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}

#docnavlinks a:hover {
    background-color: #dddddddd;
    color: black;
    border-radius: 4rem;
}

#mobilehamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    #mobilehamburger {
        display: block;
    }

    .docwrapper {
        margin-top: 5rem;
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }

    .docnavbar {
        width: 100%;
    }
    .sidenav {
        display: none;
        width: 10rem;
        text-align: left;
    }

    .active {
        display: block;
    }

    .docnavbar a {
        display: none;
    }
    .docnavbar img {
        display: none;
    }
    .docnavbar {
        background-color: #0a1047;
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        z-index: 9999;
    }
    .docnavbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 13px;
    }
    .docnavbar img {
        width: 30rem;
        margin: 0;
        padding: 0;
    }
    #docnavlinks {
        display: flex;
        align-items: center;
    }
    #docnavlinks a {
        padding: 0.25rem;
        margin-right: 2rem;
        /* verticaly center tect */
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-family: 'Kanit';
        border-radius: 1rem;
        transition: all .3s ease-in-out;
    }
    #docnavlinks a:hover {
        background-color: #dddddddd;
        color: black;
        border-radius: 1rem;
    }

    .sidenav-content {
        margin-top: 5rem;
    }
}

.contentwrapper {
    padding-left: 2rem;
}

@media screen and (max-width: 768px) {
    .contentwrapper {
        padding-left: 0rem;
    }
}

header img {
    margin: 0;
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        display: block;
        width: 95%;
    }
}

header h1 {
    margin: 0;
}

#summary p {
    padding-inline: 0.75rem;
}

code {
    background-color: #3f3f3f;
    padding: 0.25%;
    border-radius: 0.5rem;
}

span.cmdparam {
    color: #a5a5a5;
    padding: 0.15em;
    background-color: #00000086;
    border-radius: 0.5em;
}

@media screen and (max-width: 768px) {
    code {
        background-color: #3f3f3f;
        padding: 1%;
        border-radius: 0.5rem;
    }
    
    span.cmdparam {
        color: #a5a5a5;
        padding: 0.2em;
        background-color: #00000086;
        border-radius: 0.5em;
    }
}
#abilities ul {
    list-style-type: none;
    padding: 0;
    padding-inline: 0.75rem;
}

#nerd a {
    color: #ffffff;
}

#nerd a:hover {
    text-decoration: none;
}

#fund a:hover {
    width: 13rem;
}

#fundbuttons {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #0a1047;
    color: #f2f2f2;
}