html {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #f2f2f2;
    text-align: center;
    align-items: center;
}

.navbar {
    /* transparent background. solidifies on scroll */
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 9999;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.navbar img {
    width: 30rem;
    margin: 0;
    padding: 0;
}

#navlinks {
    display: flex;
    align-items: center;
}

#navlinks a {
    margin-right: 2rem;
    /* verticaly center tect */
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Kanit';
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}

#navlinks a:hover {
    background-color: #dddddddd;
    color: black;
    border-radius: 4rem;
}


.solid {
    background-color: #f2f2f2;
    color: #333;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
}

.header {
    background: url(./assets/images/headerbg.png) #1c204abb;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.header h1 {
    font-size: 5rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 1000;
}

.header p {
    font-size: 2rem;
    font-family: 'Assistant';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    padding-bottom: 1rem;
}

.header a {
    font-size: 2rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    color: #fff;
    background-color: #5865F2;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 1rem;
    border-radius: 3rem;
}


.header a:hover {
    background-color: #5865F2bb;
    font-size: 2.3rem;
}   

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #0a1047;
    color: #f2f2f2;
}

.about-content h2 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.about-content img {
    width: 13rem;
    margin: 0;
    padding: 0;
}

#botabout {
    text-align: left;
    margin-left: 1rem;
}

.features-content {
    display: block;
    background-color: aliceblue;
    color: #333;
    margin: 0;
    padding: 1rem;
}

.features-content h1 {
    font-size: 4rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.feature-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: left;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
}

.feature-text {
    text-align: left;
    margin-left: 3rem;
}

.feature-screenshot img {
    width: 20rem;
    border-radius: 1rem;
    padding: 5px;
    border: 3px solid #555;
    /* drop shadow effect */
    box-shadow: 6px 6px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.feature-text img {
    color: #f2f2f2;
    width: 2.5rem;
    align-items: center;
}

.feature-text h1 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}

.feature-text p {
    font-size: 1.5rem;
    font-family: 'Assistant';
}

.mobilebreak {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobilebreak {
        display: block;
    }
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #0a1047;
    color: #f2f2f2;
}

.cta-content h1 {
    font-size: 4rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
}  

.cta-content a {
    font-size: 2rem;
    font-family: 'Kanit';
    margin: 1rem;
    padding: 0;
    font-weight: 400;
    color: #fff;
    background-color: #5865F2;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 1rem;
    border-radius: 3rem;
}

.cta-content a:hover {
    background-color: #5865F2bb;
    font-size: 2.3rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #f2f2f2;
    padding-top: 2rem;
}

.footer-about {
    display: block;
    justify-content: center;
    background-color: #000000;
    color: #f2f2f2;
    text-align: left;
    margin: 0;
    margin-right: 5rem;
}

.footer-about h1 {
    font-size: 3rem;
    font-family: 'Kanit';
    margin: 0.25rem;
    padding: 0;
    font-weight: 1000;
    line-height: normal;
}

.contact a {
    color: #ffffff;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #f2f2f2;
    text-align: center;
}

.copyright a {
    color: #ffffff;

}

.copyright a:hover {
    text-decoration: none;
}