html {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #333;
    text-align: center;
    align-items: center;
}